@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

$main-font-name: 'Nunito Sans', sans-serif;

$main-font-size: 16px;

$main-font-size-small: 14px;

$main-font-bold: 800;

$main-font-medium: 600;

$main-font-normal: 300;